@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

@mixin inline-block-top {
  display: inline-block;
  vertical-align: top;
}

.ng-cloak {
  display: none;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
  font-family: Georgia, Times, serif;
}

.body-wrap {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

.filters {
  margin-bottom: 2em;

  p {
    font-size: 1.1em;
    color: #345456;
    margin: 0 0 0.5em 0; padding: 0;
  }
  .field {
    margin-right: 2em;
    @include inline-block-top;
  }
}

.top-person-image {
  height: 160px;
  overflow: hidden;
  margin-bottom: 0.3em;

  img {
    width: 100px;
    overflow: hidden;
  }
}

.top-person-party {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 0.6em;
}

.top-person-name {
  margin-bottom: 0.5em;
}

.top-person, .person {
  @include inline-block-top;
  margin: 0 0.8em 1em 0;
  padding: 1em;
  border: 1px solid #bbb;
  @include box-shadow(0 2px 1px #ddd);
  @include border-radius(3px);
}

.top-people-heading {
  text-align: center;
}

.top-person {
  width: 180px;
  text-align: center;
}

.person {
  width: 400px;
}

.person-details {
  margin-bottom: 0.7em;
}

.person-image {
  @include inline-block-top;
  margin-right: 0.3em;
  width: 132px;
  img {
    width: 132px;
  }
  overflow: hidden;
  @include border-radius(3px);
}

.person-name {
  border-bottom: 1px solid #ccc;
  padding: 0 0 0.5em 0;
  margin: 0 0 0.5em 0;
}

.person-info {
  @include inline-block-top;
  width: 240px;
}

.person-info-row {
  margin-bottom: 0.8em;
}

.btn-dislike, .btn-like, .btn-info {
  background: #555;
  display: inline-block;
  color: #fff;
  padding: 0.5em 1em;
  @include border-radius(3px);

  img {
    height: 20px;
    padding-right: 0.2em;
    position: relative;
  }
}

.top-people {
  .btn-dislike, .btn-like, .btn-info {
    padding: 0.3em 0.6em;
  }
}

.btn-like {
  img {
    top: 3px;
  }
  &:hover {
    background: #1abc9c;
  }
}

.btn-dislike {
  img {
    top: 4px;
  }
  &:hover {
    background: #e74c3c;
  }
}

.btn-liked {
  background: #1abc9c !important;
}

.btn-disliked {
  background: #e74c3c !important;
}

@media screen and (max-width: 966px) {
  .body-wrap {
    width: auto;
  }
}

@media screen and (max-width: 464px) {
  .person {
    width: 100%;
  }
  .person-info {
    width: auto;
  }
}

@media screen and (max-width: 330px) {
  .person {
    width: 80%;
  }
  .btn-like, .btn-dislike {
    padding: 0.5em 0.6em;
    font-size: 0.8em;
  }
}
