<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Maju Indonesia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="assets/css/all.css">
    </head>
    <body ng-app="miApp" class="ng-cloak">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        

        <div class="body-wrap" ng-controller='StatsController'>
          <h3>
  <select name="like_period" id="like_period" ng-model="likeStatsPresenter.period" ng-change="likeStatsPresenter.refetch()">
    <option value="daily">Daily</option>
    <option value="hourly">Hourly</option>
  </select>
  Likes
  (Total: {{ likeStatsPresenter.stats.total_value }})
</h3>
<div ng-show="likeStatsPresenter.state == 'loading'">Memuat...</div>
<div ng-show="likeStatsPresenter.state == 'error'">Gagal memuat. Harap coba lagi nanti.</div>
<canvas id="like-stats" width="960" height="360" ng-show="likeStatsPresenter.state == 'success'"></canvas>

<h3>
  <select name="dislike_period" id="dislike_period" ng-model="dislikeStatsPresenter.period" ng-change="dislikeStatsPresenter.refetch()">
    <option value="daily">Daily</option>
    <option value="hourly">Hourly</option>
  </select>
  Dislikes
  (Total: {{ dislikeStatsPresenter.stats.total_value }})
</h3>
<div ng-show="dislikeStatsPresenter.state == 'loading'">Memuat...</div>
<div ng-show="dislikeStatsPresenter.state == 'error'">Gagal memuat. Harap coba lagi nanti.</div>
<canvas id="dislike-stats" width="960" height="360" ng-show="dislikeStatsPresenter.state == 'success'"></canvas>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script>window.angular || document.write('<script src="/assets/js/angular-1.2.15.min.js"><\/script>')</script>
        <script src="assets/js/angular-local-storage.min.js"></script>
        <script src="assets/js/all.js"></script>
        <script src="assets/js/iframeResizer.contentWindow.min.js"></script>
    </body>
</html>
