<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title>Mini Game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="assets/css/all.css">
    </head>
    <body ng-app="miApp">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        

        <div class="body-wrap" ng-controller='TopLikedPeopleController'>
          <div class="top-people-heading">
  <select name="district_id" id="district_id" ng-model="filterParams.district_id" ng-change="refetchPeople()">
    <option value="{{ district.value }}" ng-repeat="district in districts">
      {{ district.label }}
    </option>
  </select>
  <p>Caleg DPR RI yang paling disukai hingga saat ini:</p>
  <div ng-show="fetchPeopleState == 'loading'">
    Memuat...
  </div>
</div>

<div class="top-people" style="text-align: center;" ng-show="fetchPeopleState == 'success'">
  <div class="top-person" ng-repeat="person in people">
    <div class="top-person-image">
      <img src="{{ person.photo_url }}" />
    </div>
    <div class="top-person-name">
      {{ person.name }}
    </div>
    <div class="top-person-party">
      <div>
        {{ person.party.name }}
      </div>
      <div>
        Nomor Urut {{ person.seq_no }}
      </div>
    </div>

    <div class="person-votes">
      <a href="javascript:void(0);" ng-click="likePersonAtIndex($index)" class="{{ likeButtonClassForPersonId(person.id) }}">
        <img src="assets/img/btn-like.png" /> {{ person.like_count }}
      </a>
      <a href="javascript:void(0);" ng-click="dislikePersonAtIndex($index)" class="{{ dislikeButtonClassForPersonId(person.id) }}">
        <img src="assets/img/btn-dislike.png" /> {{ person.dislike_count }}
      </a>
    </div>
  </div>
</div>

        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script>window.angular || document.write('<script src="/assets/js/angular-1.2.15.min.js"><\/script>')</script>
        <script src="assets/js/angular-local-storage.min.js"></script>
        <script src="assets/js/all.js"></script>


    </body>
</html>
