---
controller: "PeopleController"
---

<form class="filters">
  <div style="margin-bottom: 1.3em;">
    <p>Dapil</p>
    <select name="district_id" id="district_id" ng-model="filterParams.district_id" ng-change="refetchPeople()">
      <option value="{{ district.value }}" ng-repeat="district in districts">
        {{ district.label }}
      </option>
    </select>
  </div>


  <div class="field" ng-repeat="filter in filters">
    <p>{{ filter.headingName }}</p>

    <div ng-repeat="choice in filter.choices">
      <input type="checkbox"
             id="{{ choice.inputPrefix }}{{ choice.value }}"
             name="{{ choice.inputName }}"
             value="{{ party.value }}"
             ng-checked="filterParams.selection[choice.inputName].indexOf(choice) > -1"
             ng-click="toggleFilterSelection(filter.inputName, choice.value)" />
      <label for="{{ choice.inputPrefix }}{{ choice.value }}">
        {{choice.label}}
      </label>
    </div>
  </div>

</form>

<div ng-show="fetchPeopleState == 'loading'">
  Memuat...
</div>

<div ng-show="fetchPeopleState == 'error'">
  Gagal memuat. Harap refresh browser Anda.
</div>

<div class="results" ng-show="fetchPeopleState == 'success'">
  <h2>
    {{ peopleCount }} Caleg - Halaman
    <select name="page" ng-model="page.current" ng-change="goToCurrentPage()">
      <option value="{{ i }}" ng-repeat="i in pages(page.total)">
        {{ i }}
      </option>
    </select>
    dari {{ page.total }}
  </h2>
</div>

<div class="people" ng-show="fetchPeopleState == 'success'">
  <div class="person" ng-repeat="person in people">
    <div class="person-name">
      {{ person.name }}
    </div>
    <div class="person-details">
      <div class="person-image">
        <a href="{{ person.cv_url }}" target="_blank">
          <img src="{{ person.photo_url }}" alt="{{ person.name }}" />
        </a>
      </div>
      <div class="person-info">
        <div class="person-info-row">
          Nomor Urut {{ person.seq_no }}, {{ person.party.name }}
        </div>
        <div class="person-info-row">
          {{ person.education_kind.name }} -- 
          {{ person.university }}
        </div>
        <div class="person-info-row">
          {{ person.background }}
        </div>
        <div class="person-info-row">
          {{ person.fact_1 }}
        </div>
        <div class="person-info-row">
          {{ person.fact_2 }}
        </div>
        <a href="{{ person.cv_url }}" target="_blank">Info lebih lanjut...</a>
      </div>
    </div>

    <div class="person-votes">
      <a href="javascript:void(0);" ng-click="likePersonAtIndex($index)" class="{{ likeButtonClassForPersonId(person.id) }}">
        <img src="assets/img/btn-like.png" />
        Suka ({{ person.like_count }})
      </a>
      <a href="javascript:void(0);" ng-click="dislikePersonAtIndex($index)" class="{{ dislikeButtonClassForPersonId(person.id) }}">
        <img src="assets/img/btn-dislike.png" />
        Tak suka ({{ person.dislike_count }})
      </a>
    </div>
  </div>
</div>

<div class="results" ng-show="fetchPeopleState == 'success'">
  <h2>
    {{ peopleCount }} Caleg - Halaman
    <select name="page" ng-model="page.current" ng-change="goToCurrentPage(i)">
      <option value="{{ i }}" ng-repeat="i in pages(page.total)">
        {{ i }}
      </option>
    </select>
    dari {{ page.total }}
  </h2>
</div>

<div class="results" ng-show="fetchPeopleState == 'success-empty'">
  <h2>Caleg tak dapat ditemukan</h2>
  <p>Harap ubah kriteria di atas.</p>
</div>

