---
controller: "PeopleController"
---

<form class="filters">
  <div class="field">
    <p>Dapil</p>
    <select name="dapil" id="dapil">
      <option value="{{ district.id }}" ng-repeat="district in districts">
        {{ district.nama }}
      </option>
    </select>
  </div>


  <div class="field" ng-repeat="filter in filters">
    <p>{{ filter.headingName }}</p>

    <div ng-repeat="choice in filter.choices">
      <input type="checkbox"
             id="{{ choice.inputPrefix }}{{ choice.value }}"
             name="{{ choice.inputName }}"
             value="{{ party.value }}" />
      <label for="{{ choice.inputPrefix }}{{ choice.value }}">
        {{choice.label}}
      </label>
    </div>
    <div>
      <a href="#">Semua</a>
    </div>
  </div>

</form>

<div ng-show="fetchPeopleState == 'loading'">
  Memuat...
</div>

<div class="results" ng-show="fetchPeopleState == 'success'">
  <h2>Ditemukan {{ peopleCount }} Caleg - Halaman {{ currentPage }} dari {{ pageCount }}</h2>
</div>

<div class="people" ng-show="fetchPeopleState == 'success'">
  <div class="person" ng-repeat="person in people">
    <div class="person-name">
      {{ person.nama }}
    </div>
    <div class="person-details">
      <div class="person-image">
        <a href="#">
          <img src="{{ person.foto_url }}" alt="Foto {{ person.nama }}" />
        </a>
      </div>
      <div class="person-info">
        <div class="person-info-row">
          Pendidikan Terakhir
        </div>
        <div class="person-info-row">
          Latar Belakang
        </div>
        <div class="person-info-row">
          Fakta Menarik
        </div>
        <div class="person-info-row">
          Fakta Menarik 2
        </div>
        <a href="#">Info lebih lanjut...</a>
      </div>
    </div>

    <div class="person-votes">
      <a href="#" class="btn-like">
        <img src="assets/img/btn-like.png" />
        Suka (101)
      </a>
      <a href="#" class="btn-dislike">
        <img src="assets/img/btn-dislike.png" />
        Tak suka (30)
      </a>
    </div>
  </div>
</div>

<div class="pagination" ng-show="fetchPeopleState == 'success'">
  Halaman:
  <select name="page" ng-model="currentPage" id="page" ng-change="goToPage(i)">
    <option value="{{ i }}" ng-repeat="i in pages(pageCount)">
      {{ i }}
    </option>
  </select>
</div>
