---
controller: "PeopleController"
---

<form class="filters">
  <div style="margin-bottom: 1.3em;">
    <p>Dapil</p>
    <select name="district_id" id="district_id">
      <option value="{{ district.value }}" ng-repeat="district in districts">
        {{ district.label }}
      </option>
    </select>
  </div>


  <div class="field" ng-repeat="filter in filters">
    <p>{{ filter.headingName }}</p>

    <div ng-repeat="choice in filter.choices">
      <input type="checkbox"
             id="{{ choice.inputPrefix }}{{ choice.value }}"
             name="{{ choice.inputName }}"
             value="{{ party.value }}" />
      <label for="{{ choice.inputPrefix }}{{ choice.value }}">
        {{choice.label}}
      </label>
    </div>
  </div>

</form>

<div ng-show="fetchPeopleState == 'loading'">
  Memuat...
</div>

<div ng-show="fetchPeopleState == 'error'">
  Gagal memuat. Harap refresh browser Anda.
</div>

<div class="results" ng-show="fetchPeopleState == 'success'">
  <h2>
    {{ peopleCount }} Caleg - Halaman
    <select name="page" ng-model="page.current" ng-change="goToPage(i)">
      <option value="{{ i }}" ng-repeat="i in pages(page.total)">
        {{ i }}
      </option>
    </select>
    dari {{ page.total }}
  </h2>
</div>

<div class="people" ng-show="fetchPeopleState == 'success'">
  <div class="person" ng-repeat="person in people">
    <div class="person-name">
      {{ person.name }}
    </div>
    <div class="person-details">
      <div class="person-image">
        <a href="{{ person.cv_url }}">
          <img src="{{ person.photo }}" alt="{{ person.nama }}" />
        </a>
      </div>
      <div class="person-info">
        <div class="person-info-row">
          {{ person.education_kind.name }} -- 
          {{ person.university }}
        </div>
        <div class="person-info-row">
          {{ person.background }}
        </div>
        <div class="person-info-row">
          {{ person.fact_1 }}
        </div>
        <div class="person-info-row">
          {{ person.fact_2 }}
        </div>
        <a href="{{ person.cv_url }}">Info lebih lanjut...</a>
      </div>
    </div>

    <div class="person-votes">
      <a href="#" class="btn-like">
        <img src="assets/img/btn-like.png" />
        Suka (0)
      </a>
      <a href="#" class="btn-dislike">
        <img src="assets/img/btn-dislike.png" />
        Tak suka (0)
      </a>
    </div>
  </div>
</div>

<div class="results" ng-show="fetchPeopleState == 'success'">
  <h2>
    {{ peopleCount }} Caleg - Halaman
    <select name="page" ng-model="page.current" ng-change="goToPage(i)">
      <option value="{{ i }}" ng-repeat="i in pages(page.total)">
        {{ i }}
      </option>
    </select>
    dari {{ page.total }}
  </h2>
</div>
