---
title: Home
---

<form class="filters">
  <div class="field">
    <p>Dapil</p>
    <select name="dapil" id="dapil_id">
      <option value="1">Jakarta 2</option>
      <option value="2">Bandung</option>
    </select>
  </div>

  <div class="field">
    <p>Partai</p>
    <div>
      <input type="checkbox" id="party_1" name="party_ids[]" value="1" /> <label for="party_1">XXX</label>
    </div>
    <div>
      <input type="checkbox" id="party_2" name="party_ids[]" value="2" /> <label for="party_2">XXX</label>
    </div>
    <div>
      <input type="checkbox" id="party_3" name="party_ids[]" value="3" /> <label for="party_3">XXX</label>
    </div>
    <div>
      <input type="checkbox" id="party_4" name="party_ids[]" value="4" /> <label for="party_4">XXX</label>
    </div>
  </div>

  <div class="field">
    <p>Pendidikan Terakhir</p>
    <div>
      <input type="checkbox" id="last_edu_1" name="last_edu_ids[]" value="1" /> <label for="last_edu_1">S1</label>
    </div>
    <div>
      <input type="checkbox" id="last_edu_2" name="last_edu_ids[]" value="2" /> <label for="last_edu_2">S2</label>
    </div>
    <div>
      <input type="checkbox" id="last_edu_3" name="last_edu_ids[]" value="3" /> <label for="last_edu_3">< S1</label>
    </div>
    <div>
      <input type="checkbox" id="last_edu_4" name="last_edu_ids[]" value="4" /> <label for="last_edu_4">N/A</label>
    </div>
  </div>

  <div class="field">
    <p>Tempat pend. terakhir</p>
    <div>
      <input type="checkbox" id="last_edu_place_1" name="last_edu_place_ids[]" value="1" /> <label for="last_edu_place_1">Dalam negeri</label>
    </div>
    <div>
      <input type="checkbox" id="last_edu_place_2" name="last_edu_place_ids[]" value="2" /> <label for="last_edu_place_2">Luar negeri</label>
    </div>
  </div>

  <div class="field">
    <p>Anggota legislatif 09-14</p>
    <div>
      <input type="checkbox" id="is_member_1" name="is_member[]" value="1"> <label for="is_member_1">Ya</label>
    </div>
    <div>
      <input type="checkbox" id="is_member_2" name="is_member[]" value="2"> <label for="is_member_2">Tidak</label>
    </div>
  </div>
</form>

<div class="results">
  <h2>Ditemukan 200 Caleg</h2>
</div>

<div class="people">
  <% 10.times do %>
    <div class="person">
      <div class="person-name">
        Ki Hajar Dewantara
      </div>
      <div class="person-details">
        <div class="person-image">
          <a href="#">
            <img src="" alt="Foto" />
          </a>
        </div>
        <div class="person-info">
          <div class="person-info-row">
            Pendidikan Terakhir
          </div>
          <div class="person-info-row">
            Latar Belakang
          </div>
          <div class="person-info-row">
            Fakta Menarik
          </div>
          <div class="person-info-row">
            Fakta Menarik 2
          </div>
          <a href="#">Info lebih lanjut...</a>
        </div>
      </div>

      <div class="person-votes">
        <a href="#" class="btn-like">Suka (101)</a>
        <a href="#" class="btn-dislike">Tak suka (30)</a>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination">
  Pages:
  <% 10.times do |i| %>
    <a href=# class="page">
      <%= i + 1 %>
    </a>
  <% end %>
</div>
